.about{
    .row{
        display: flex;
        padding: 8rem 0;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        .col-6{
            flex-basis: 50%;
            img{
                max-width: 100%;
            }
            span{
                font-size: .6rem;
                color: $secondary-color;
                background-color: rgba(251, 178, 68, 0.2);
                padding: .5rem 1.2rem;
                font-family: $primary-font;
                border-radius: 33px;
                font-weight: 800;
                margin-bottom: 1rem;
                display: inline-block;
            }
            h2{
                font-size: 2rem;
                font-family: $primary-font;
                color: $primary-color;
                font-weight: 700;
                margin-bottom: 1rem;
            }
            p{
                font-size: .8rem;
                color: #777;
                margin-right: 5rem;
                font-family: $secondary-font;
            }
            button{
                margin-top: 1.5rem;
                  &:hover{
                   background: none;
                   color: $primary-color;
              }
            }
            ul{
              li{
                  font-family: $secondary-font;
                  font-size: .8rem;
                  color: #777;
                  i{
                    margin-right: .5rem;
                  }
              }
            }
        }
        .about-content{
            padding-left: 5rem;
        }
    }
}



/*---------------------
 media query for hero
  --------------------*/
  

  @media screen and (max-width: 992px) {
      .about{
          .row{
              flex-direction: column;
              .about-img{
                  text-align: center;
                  img{
                      max-width: 75%;
                  }
              }
              .about-content{
                  padding-top: 1rem;
              }
          }
      }
  }