.Mobile-nav{
    background: #fff;
    height: 100vh;
    position: fixed;
    min-width: 25%;
    z-index: 99;
    right: -30rem;
    padding-top: 2rem;
    box-shadow: 5px 5px 5px 5px rgb(168, 161, 161);
    transition: right .5s ease-in;
    i{
        font-size: 2.5rem;
        margin-left: 1.5rem;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 2rem;
        a{
            color: $primary-color;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            margin-left: 1.5rem;
        }
    }
}


   