.navbar{
    background: $dark-light;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
    .navbar__logo{
        margin-left: 1.8rem;
    }
    .navbar__menu a{
        color: #000;
        font-family: $primary-font;
        font-size: 1rem;
        margin-right: 1.5rem;
    }
}









