*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    padding: .5rem calc((100vw - 1200px) / 2);
}

.button{
    padding: .8rem 1.8rem;
    background: $primary-color;
    color: #fff;
    border-radius: 33px;
    border: 1px solid $primary-color;
    font-size: .9rem;
    transition: all .3s;
}

.title{
    font-size: .6rem;
    color: $secondary-color;
    background-color: rgba(251, 178, 68, 0.2);
    padding: .5rem 1.2rem;
    // font-family: $primary-font;
    border-radius: 33px;
    font-weight: 800;
    margin-bottom: 1rem;
    display: inline-block;
}